#titleUpSite{
  text-align: center;
}
#titleLogin{
  text-align: center;
}
#logar{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  box-sizing: border-box;
}
#logar a{
  background: linear-gradient(blue, rgba(0, 0, 255, 0.507));
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
}