<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titleUpSite">
      Convertedor e Moeda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="cardLogin">
  <ion-card-title id="titleLogin">
    <h2>Login</h2>
  </ion-card-title>

  <ion-card-content>

    <ion-input label="Username" label-placement="floating" fill="outline" placeholder="Username" required="Coloque o nome de usuario"></ion-input>

    <br />

    <ion-input label="Password" type="password" label-placement="floating" fill="outline" placeholder="Password"></ion-input>

    <div id="logar">
      <a href="" id="linkLogar">
        Entrar
      </a>
    </div>
  </ion-card-content>
</ion-card>>
